@font-face{
    font-family: "bernard";
    src: url("../Fonts/BernardMTCondensed.ttf");
  }

  @font-face{
    font-family: "calibrib";
    src: url("../Fonts/CalibriBold.ttf");
  }

  body{
    background-color: rgb(166, 166, 166);
    margin: 2% 5% 0 5%;
  }

  header{
    background-color: rgb(237, 125, 49);
    text-align: center;
    padding: 10px 0;
    width: 100%;

  }

  header h1{
    margin: 0;
    font-size: 54pt;
    font-family: "calibrib";
    color: rgb(166, 166, 166);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  main h1{
    text-align: center;
    font-family: "bernard";
    font-size: 40pt;
    margin: 10px 0 0 0;
    padding-bottom: 40px;
  }
  nav{
    width: 100%;
  }

  nav ul{
    list-style-type: none;
    background-color: white;
    padding: 0 0 2px 2px;
    margin: 0;
  }

  nav ul li{
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    width: 12.91%;
    text-align: center;
    background-color: rgb(68, 114, 196);
  }

  nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    font-family: "calibrib";
  }

  nav ul li a:hover{
    color:rgb(140, 171, 226);
  }

  nav ul li img{
    width: 22px;
    height: 22px;
  }

  nav ul li input{
    width: 200px;
  }

  main {
    padding-bottom: 20px;
  }

  main img{
    display: block;
    margin: 0 auto;
    max-width: 70%;
    width: 50%;
  }

  .timeline {
    white-space: nowrap;
    overflow-x: hidden;
    height: auto;
    font-family: "Calibri";
  }

  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }

  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }

  .timeline ol li:last-child {
    width: 280px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }

  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
  }

  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
    font-size: 70px;
    text-align: center;
  }

  .timeline ol li div img{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .timeline ol li div img:hover{
	opacity: .5;
  }

  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }

  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }

  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }

  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }

  footer{
    margin: 0 -5% 0 -5%;
    padding: 2px 0;
    background-color: black;
    font-family: "calibrib";
    text-align: center;
    font-size: 18pt;
    color: white;
  }
